= partial "layouts/doctype"

%head
  -# Meta tags
  = partial "layouts/meta"

  %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}

  -# Page title
  %title= page_title("My Site")

  -# Stylesheets
  = stylesheet_link_tag "application"

  -# Application icons
  = partial "layouts/icons"

  -# HTML5Shiv
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

%body{ class: page_classes }
  = yield
  = partial "layouts/footer"

  -# JavaScripts
  = javascript_include_tag "http://code.jquery.com/jquery.min.js"
  = javascript_include_tag "application"
  = partial "layouts/analytics"

-# Need this to close the doctype partial
</html>
